@CHARSET "UTF-8";
#conteinner,#header, #login{
	border:solid #6CC 1px;
	border-radius: 5px;
}
#conteinner,#login{
	width: 300px;
}
#content{
	margin-top: -10px;
}
body, #conteinner, #header{
	text-align: center;
}
#header, #login{
	background-color: #6CC;
	padding: 10px;
}
#header{
	margin-top: -4px;
}
input{
	width: 270px;
	padding:5px;
	margin:5px;	
	border-radius: 5px;
}
#login{
	font-size:16px;
	font-style:italic;
	border-color:#000;
	margin:0px;
	margin-top: 5px;
}